[ProcyonHub | Stable]
repo_name = ProcyonHub | Stable
json_url = https://raw.githubusercontent.com/ProcyonisComputing/ProcyonHub/main/packages.json
package_url = https://github.com/ProcyonisComputing/ProcyonHub/raw/refs/heads/main
type = stable

[ProcyonHub | Release Candidate]
repo_name = ProcyonHub | Release Candidate
json_url = https://raw.githubusercontent.com/ProcyonisComputing/ProcyonHub/RC/packages.json
package_url = https://github.com/ProcyonisComputing/ProcyonHub/raw/refs/heads/RC
type = RC

[ProcyonHub | Beta]
repo_name = ProcyonHub | Beta
json_url = https://raw.githubusercontent.com/ProcyonisComputing/ProcyonHub/Beta/packages.json
package_url = https://github.com/ProcyonisComputing/ProcyonHub/raw/refs/heads/Beta
type = Beta

[ProcyonHub | Alpha]
repo_name = ProcyonHub | Alpha
json_url = https://raw.githubusercontent.com/ProcyonisComputing/ProcyonHub/Alpha/packages.json
package_url = https://github.com/ProcyonisComputing/ProcyonHub/raw/refs/heads/Alpha
type = Alpha